@charset "UTF-8";

@font-face {
  font-family: "mangalayojana-icons";
  src:url("../fonts/mangalayojana-icons.eot");
  src:url("../fonts/mangalayojana-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mangalayojana-icons.woff") format("woff"),
    url("../fonts/mangalayojana-icons.ttf") format("truetype"),
    url("../fonts/mangalayojana-icons.svg#mangalayojana-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mangalayojana-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mangalayojana-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "a";
}
.icon-heart:before {
  content: "c";
}
.icon-heart-1:before {
  content: "b";
}
.icon-git-branchsort-amount-two:before {
  content: "d";
}
.icon-list-thumbnails:before {
  content: "f";
}
.icon-thumbnails-1:before {
  content: "g";
}
.icon-like:before {
  content: "e";
}
.icon-dislike:before {
  content: "h";
}
.icon-sort-amount-two:before {
  content: "i";
}
.icon-sort-alpha-two:before {
  content: "j";
}
.icon-thumbnail-left:before {
  content: "k";
}
.icon-thumbnail-right:before {
  content: "l";
}
.icon-daily:before {
  content: "m";
}
.icon-question:before {
  content: "?";
}
.icon-crown:before {
  content: "n";
}
