/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2014, 4:50:52 PM
    Author     : Sash
*/
@import url("//fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans");
body{
    margin:0px;
    width:100%;
    background-color: #fafafa;
    background-image:url('../img/bg.png');
}
label{font-weight: 400 !important;}
button:focus {
    outline: none;
}
.error-span{
    color: #E71414;
    font-size: 10px;
}
#logo{
    margin-top: -25px;
}
#join,.header-message{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #F9E55E;
    margin: 0px;
    color: #491111;
    padding: 9px;
    position: static;
    top: 0px;
    z-index: 99999;
    font-size: 15px;
    display: none;
}
ul{
    font-family: 'Open Sans', sans-serif;
}
li{
    font-family: 'Open Sans', sans-serif;
}
.help-block{
    font-family: 'Open Sans', sans-serif;
}
.errorpage-padding{
    padding: 5px 13px 0px 13px;
}
.img-brokenHeart{
    width: 126px;
}
.resize-none{
    resize: none;
}
.display-inline{
    display: inline;
}
.login-panel{
    margin-top: 25%;
}
.remove-btn-mask{
    border: none;
    background: none;
}
.block-btn-min-height{
    max-height: 42px;
}
.top-margin-5{
    margin-top: 5px;
}
.position-report-conf-item{
    margin: 15px;
}

.position-report-conf-item .helper{
    margin: -3px 0px 0px 17px;
    font-size: 12px;
}

.search-btn{
    margin-top: 24px;
    display: table;
}
.btn-icon{
    margin: 0px 5px 0px 0px;
}
.opaque{
    opacity: 0.3;
}
.full-width{
    width: 100%;
}
.img-thankyou{
    width: 185px;
}
.widath-90{
    width: 90%;
}
.error-shadow{

    -webkit-box-shadow: 0px 0px 3px 0px rgba(239, 88, 44, 0.93);
    -moz-box-shadow: 0px 0px 3px 0px rgba(239, 88, 44, 0.93);
    box-shadow: 0px 0px 3px 0px rgba(239, 88, 44, 0.93);
    border-radius: 5px;
}

img.blur { filter: blur(8px);
           -webkit-filter: blur(8px);
           -moz-filter: blur(8px);
           -o-filter: blur(8px);
           -ms-filter: blur(8px);
           filter: url(blur.svg#blur);
           filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='8'); }

.heading4{
    color:#707070;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 0px;
}
.heading3{
    color:#00c0ff;
    text-transform:  uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin: 4px;

}
.matches-not-found-txt{
    padding: 25px 0px 34px 0px;
}
p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 13px;

}

input[type=checkbox]#login-chkbox {position: absolute;     overflow: hidden;     clip: rect(0 0 0 0);     height:1px;     width:1px;     margin:0px;     padding:0;    border:0;}

input[type=checkbox]#login-chkbox + label#login-chkbox-label {padding-left:20px;    height:13px;     display:inline-block;    line-height:14px;    background-repeat:no-repeat;    background-position: 0 0;    font-size:12px;    font-weight: 400;    vertical-align:middle;    cursor:pointer;   }

input[type=checkbox]#login-chkbox:checked + #login-chkbox-label {background-position: 0 -13px;}

#login-chkbox-label{ background-image:url('../img/checkbox.png'); background-repeat: no-repeat;}
#login-chkbox-label-xs{font-size: 12px;}
#login-chkbox-label{
    font-family: 'Open sans',sans-serif;
}
#login-chkbox{
    margin-left: -4px;
}
.my_nav{
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #00c0ff !important;
    border-radius: 0px !important;
    padding-top: 4px;
    padding-bottom: 10px;
    border-top: 0px;

}
.navbar{margin-bottom: 0px;}
.navbar-form{margin-bottom: 0;}
.navright{
    margin-right: -27px !important;
}
.top-leading{
    margin-top: 30px;
}
.settings-para{
    font-size: 17px;
}

.menuBarContainer .navbar-right.nav .open>a{background: none;border: 0;}
#msg-count, #freq-count, #notif-count{
    height: 12px;
    background-color: red;
    font-size: 11px;
    position: absolute;
    bottom: -5px;
    right: 7px;
    font-family: monospace;
    padding: 7px 2px;
    line-height: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#FFF !important;
}
#freq-count{
    right: 8px;
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{
    margin-right: 0px !important; 
}
.navbar-collapse.in{
    overflow-y: visible !important;
}
.mncontainer{
    max-width: 960px;
}
.link{
    color: #428bca !important;
}
.link:hover{
    color: #42901C !important;
}
.cancel-link{
    color: crimson !important;
}
.cancel-link:hover{
    color: firebrick!important;
}

.bodycontainer{
    margin-top: 25px;
    max-width: 960px;
}
.deactivate-acc-btn{
    color: #6E8EAD !important;
}

.style-char-count{
    float: left;
    color: #A9A4A5;
}
.margin-top-zero{
    margin-top: 0px !important;
}
.margin-btm-15{
    margin-bottom: 15px !important;
}
.position-char-count{
    margin-bottom: 6px;
    margin-left: -5px;
}
.color-char-count{
    color: rgb(207, 42, 42);
}

@media (min-width: 768px){
    .bodycontainer {
        width: 100% !important;
    }
}
.txtbox { 
    background: rgba(255, 255, 255, 0.44); 
    color: #333; 
    border: 1px solid #00c0ff; 
    padding: 4px 8px 4px 4px !important;
    line-height: 1; 
    width: 126px; 
    height:20px; 
    margin-right:20px;

} 


.txtbox:hover { 
    border: 1px solid #00c0ff; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
} 
.txtbox:focus { 
    border: 1px solid #00c0ff; 
    outline: none; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);  
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    background: rgb(255, 255, 255); } 

.navLoginForm label, .navLoginForm label a{
    font-weight: 400;
    color:#00C0FF !important;
    font-size: 12px;
    margin-top: 2px;
}
.empty-friends{
    margin: 18px 0px 28px 0px;
}

#navFormErrors span {
    margin-left: 15px;
    color: #E46C6C;
    font-size: 12px;
    border-left: 1px solid #00C0FF;
    padding-left: 5px;
    margin-right: 5px;
}
.border-deac-flist{
    border: 1px solid rgba(0, 192, 255, 0.28);
    border-radius: 5px;
    padding: 5px;
}
.padding-top-7{
    padding-top: 7px;
}
.padding-7{
    padding: 7px;
}
.display-none{
    display: none;
}
.btn_login {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 10px;
    background: #00c0ff;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    font-family: 'Oswald', sans-serif;
    margin-top:16px;

}
@media(min-width:1200px){
    .btn_login{
        margin-right: -38px;
        float: right;
    }
}
.btn_login-xs {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 10px;
    background: #00c0ff;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    height:30px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    font-family: 'Oswald', sans-serif;

}

.btn_login:hover, .btn_login:focus {
    background: #5ebcf7;
    color:#ffff;
    text-decoration: none;
}

.my_carousel{
    height:inherit;
}

.overflow-hidden{
    overflow: hidden;
}
.tabh{
    height:inherit;
    width:inherit;
}
span{


}
.interested{
    color: #FF99CC !important;
}
.position-search-empty{
    padding: 30px 0px 34px 0px;
}
#no-search-dislike-icon{font-size: 35px;}
.frmHome{
    color:#707070;
    margin-top:8px;

}
.frmSignUp .frmRow .col-lg-4 {
    margin-top: 4px;
}

.frmtexts{
    width:100%;
    font-size:10px;
    padding-top:5px;
    padding-bottom:5px;
    border: 1px solid #e5e5e5 !important;
    padding-left:5px;
}
.frmdate{
    width: 32%;
    font-size:10px;
    padding-top:5px;
    padding-bottom:5px;
    border: 1px solid #e5e5e5 !important;
}
.border-none{
    border: none !important
}
.frmRow{
    margin-bottom: 10px;
}
.frmSearch{
    margin-top: 25px;
}
.frmSearch .frmRow{
    margin-bottom: 21px;
}
.frmSearch label{
    font-weight: 400;
}
.smalltext{
    font-size: 13px;

}
.position-pop-save{
    margin: 0px !important;
    margin-right: 8px !important;
}
.optionLabel{
    font-size: 14px;
}
.searchLabel{
    margin-top: 4px;
    float: left;
}
.searchLabel#to{
    margin-left: 9px;
}
.frmnametexts{
    width:100%;

    padding-left:5px;
    font-size:10px;
}
.btn-Search{
    border:1px solid transparent;
    background: #00c0ff;
    color:#fff;
    height:30px;
    font-size: 16px;
    padding: 5px 20px;
}
.btn_signup {
    border-radius: 0px;
    color: #ffffff;
    font-size: 10px;
    background: #00c0ff;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    display: inline-block;
    height:25px;

    text-align: center;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    font-family: 'Oswald', sans-serif;
}

.btn_signup:hover {
    background: #5ebcf7;
    color:#ffff;
    text-decoration: none;
}

.social {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    padding:16px;
}
.socialfeed{
    padding:4px;

}

#embed{
    margin:16px;
    padding-top:5px;
    padding-bottom:2px;
    height: inherit;
    background:#f7f7f7;
    padding:4px;
    border: 1px solid #e5e5e5;
}

.btn_social{
    display: inline-block;
    padding: 8px;
    width:100%;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background:#fafafa;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.youtube{
    color:#ef0000 !important;
    border-radius: 0px !important;
    border-right: transparent !important;
}
.youtube:hover{
    background:#ef0000;
    color:#ffffff !important;
}
.facebook{
    color: #006a9c;
    border-radius: 0px !important;
    border-right: transparent !important;
}
.facebook:hover{
    background: #006a9c;
    color:#ffffff;
}
.googleplus{
    color:#00db4d;
    border-radius: 0px !important;
    border-right: transparent !important;
}
.googleplus:hover{
    background: #00db4d;
    color:#ffffff;

}
.twitter{
    color:#00baff;
    border-radius: 0px !important;
}
.twitter:hover{
    background: #00baff;
    color: #ffffff;
}

.social_buttons{
    margin-left: 18px;
    margin-right :18px;
    border-radius: 0px !important;

    height: inherit;



}

#trendingvideos{
    background:#f7f7f7;
    margin:16px;
    height:152px;
    border: 1px solid #e5e5e5;

}

.my_about{
    background: #ffffff;
    border: 1px solid #e5e5e5;
    padding:16px;
}

.randomprofiles {
    background: transparent;

    padding:16px;
}
radpro_bar{
    padding-top:10px;
}
.radpro{
    background: #ffffff;
    border: 1px solid #e5e5e5;
    padding:10px;
}
.propic{
    width: 60px;
    height:70px;
    background-image:url('../img/propic.png');
}
.radpro_details{
    font-family: 'Open Sans', sans-serif;
    color:#4f4f4f;
    line-height:90%;
    font-size:7px;
    width: 101%;
}
.radpro_name{
    font-family:   'Oswald', sans-serif;
    color:#00c0ff;

}
.btn_viewprofile {
    border-radius: 0px;
    color: #ffffff;
    font-size: 13px;
    background: #00c0ff;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    height:25px;

    text-align: center;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    font-family: 'Oswald', sans-serif;
    transition: ease all 0.5s;
}

.bordertop{
    border-style: solid;
    border-top: thick double #3B20E9;
    background: #fff;
    padding:0px 15px;
    margin-top:25px;
    min-height: 40px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
    margin-bottom: 5px;
}

.btn_viewprofile:hover {
    background: #5ebcf7;
    color:#ffff;
    text-decoration: none;
}
.my_matrimonial{
    margin-bottom: 16px;
}

.footer{
    background:#ebeaea;
    border-top:  ridge #ebeaea;
    border-width:3px;
    margin-top: 30px;
    padding-bottom:  20px;
}

.footer_heading3{
    color:#00c0ff;
    text-transform:  uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 600px;


}

.footer_copyright{
    font-family: 'Open Sans',sans-serif;
    font-size: 13px; 
    font-weight: 600;
    color:#a4a4a4 !important;

}

a{

    color:#242424;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
a:hover{
    text-decoration:none !important;
    color:#000000;
}

a:focus{
    outline: none !important;
}


/* new jquery ui css */

.ui-tabs {
    padding: 0 !important;
}
.ui-tabs .ui-tabs-nav {

    padding: 0 !important;
}
.ui-tabs .ui-tabs-nav li {
    margin:  0 !important;
}
.ui-tabs .ui-tabs-panel {

    padding: 1em 0.4em !important;

}

.ui-widget {
    font-family: 'Oswald', sans-serif !important; 
    border: 1px solid #e5e5e5 !important;
}



.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: 'Oswald', sans-serif !important; 
    font-size: 12px !important;
}

.ui-widget-content {
    border: none !important;

}

.ui-widget-header {
    border: 0 !important;
    background: none !important;

}








.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {

    background: #00c0ff !important;
    text-align: center !important;
    color: #ffffff !important;
    font-size: 18px !important;
    border:none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom: 0 !important;}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #ffffff !important;
    width: 100%;
    background: #00c0ff;
    border:0 !important;
}

.ui-state-default a:focus{
    outline: none;
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    outline:none !important;
    background: #00c0ff !important;
    color: #ffffff !important;
}

.ui-state-hover a,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #ffffff !important;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #00c0ff !important;
    background: #fff;

}
.ui-state-active 
{
    background: #ffffff !important;


}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 0px !important;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 0px !important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0px !important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0px !important;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #fafafa;
}

.subicons{
    width: 170px;
    border:1px;

}

ul.socialicons { 
    list-style: none; 
    overflow: hidden;
    padding:0;
}
.socialicons li { 
    float: left; 
    background: none !important; 
    padding: 0 !important; 
    margin: 0 2px;
}
.socialicons li a { 
    display: block; 
    margin-right:5px;
    margin-bottom: 5px;
    position:relative;
    z-index:11;
    right:0px; 
    width: 33px; 
    height: 34px; 
    background: url("../img/social.png") no-repeat transparent; 
    text-indent: -99999em !important;
    -webkit-transition: ease-in 0.15s all; 
    -moz-transition: ease-in 0.15s all; 
    -o-transition: ease-in 0.15s all; 
    -ms-transition: ease-in 0.15s all; 
    transition: ease-in 0.15s all;
}

.socialicons li.rssicon a { 
    background-position: 0 -43px;

}
.socialicons li.twicon a { 
    background-position: 0px 0;

}
.socialicons li.fbicon a { 
    background-position: -37px 0;

}
.socialicons li.gpicon a { 
    background-position: -111px 0;

}
.socialicons li.yticon a { 
    background-position: -74px 0;
}
.socialicons li.inicon a { 
    background-position: -38px -43px;
}
.socialicons li.apicon a { 
    background-position: -74px -43px;
}
.socialicons li.picon a { 
    background-position: -111px -43px;
}

.footerBox{
    min-height: 145px !important;
}
@media(max-width:393px){
    .footerBox{max-width: 393px;
               padding-right: 0px !important;
               padding-left: 0px !important;}

}
@media(max-width:332px){
    .footerBox{min-width: 150px;
               padding-right: 0px !important;
               padding-left: 0px !important;}
    #footerOtherServices{
        min-height: 118px !important;
    }

}
@media (max-width:768px){
    .footer-social{text-align:center;}
    .subicons{margin:0 auto;}
}

/* Thank you Page*/
#packages{
    border: 1px solid #e5e5e5;
    background: #ffffff;
}

.congBar{
    background:#00c0ff;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size:17px;
    font-weight: 300;
    padding:9px;
}

.congText{
    font-size:18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right:20px;
}

.ashBar{
    background:#f7f7f7;
    color:#303030;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    font-weight: 600;
    padding:9px;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    margin-top:10px;
}

.pkgHeader{
    color:#00c0ff;
    font-size:15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.pkgBox{
    font-family: 'Open Sans', sans-serif;
    padding:10px;
    margin-bottom: 30px;
}
.pkgBorder{

    border-right:1px solid #e5e5e5;
}



.btn_pkg{
    border-radius: 0px;
    color: #ffffff;
    font-size: 17px;
    background: #00c0ff;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    height:40px;
    font-weight:400;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    font-family: 'Oswald', sans-serif;
    margin-right: 6px;
}
.btn_pkg.blue{
    padding-left: 33px;
    padding-right: 33px;
}
.btn_pkg_pre{
    background: #72a200;
}

#thankupage_option-button{
    margin-top: 3px;
    padding-left: 10px;
}

#thankupage_option-button-crown{
    margin-top: 0px !important;
    font-size: 22px;
}
.btn_icon {
    margin-left:20px;
}
/* End of Thank you page */


/* Matrimonial Page */
.mat_con{
    border: 1px solid #e5e5e5;
    background: #ffffff;

}

.dolater{
    font-family: 'Open Sans', sans-serif;
    float:right;
    font-size: 14px;
    color:#ffffff;
    padding-top:5px;
}
.dolater:hover{
    font-family: 'Open Sans', sans-serif;
    float:right;
    font-size: 14px;
    color:#ffffff;
    text-decoration:underline;
}
h4{
    color:#00c0ff !important;
    font-family: 'Oswald', sans-serif !important;
}
h4 a{
    color:#00c0ff !important;
    font-family: 'Oswald', sans-serif !important;
    font-size: 18px !important;
    transition: all 0.5s ease;
}
h4 a:hover{
    color:#00ccff !important;
}
.fmlyDetails{
    border: 1px solid #e5e5e5;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;

    padding:7px;

}
.MidDetails{
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-left:20px;
    margin-right:20px;
    padding-top:7px;
    padding-left:7px;
    padding-right:7px;

}
.frmMat_row{
    margin-bottom:10px;
}
.fmlyDetails_text{
    margin-bottom: 20px;

}

.fmlyDetails_bodyText{
    font-family: 'Open Sans',sans-serif;
    color:#626262;
    font-size:13px;
    padding-top:10px;
    padding-bottom:10px;

    margin-top:0px !important;
}
.fmlyDetails_txtbox{
    width:100%;
    font-family: 'Open Sans',sans-serif;
    font-size:13px;
    color:#8f8f8f;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid #e5e5e5 !important;
    padding-left:5px;
    margin-top:0px !important;
}
.center{
    display: table !important;
    margin: 0 auto !important;
    text-align: center !important;
}
.radio-text{
    margin-left:5px;
    color:#626262;
    font-weight: 400;
}

.radio-btn{
    margin-top:1px;
}

.small-text{
    margin-left:5px;
    font-size:12px;
    color:#00AFE8;
}

.sub-text{
    color:#00c0ff;
    text-align:right;
}

.btn-details{
    border-radius: 0px;
    color: #ffffff;
    font-size: 25px;
    background: #00c0ff;
    padding:17px;
    text-decoration: none;
    display: inline-block;
    height:70px;
    font-weight:400;
    text-align: center;
    width:100%;
    cursor: pointer;

    background-image: none;
    border: 1px solid transparent;
    font-family: 'Oswald', sans-serif;
}

.dolater_blue{

    font-family: 'Open Sans', sans-serif;
    float:right;
    font-size: 14px;
    color:#00c0ff;
    padding-top:50px;
}
.dolater_blue:hover{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#00c0ff;
    text-decoration:underline;
}

.btn-row{
    padding-top:20px;
    padding-bottom: 20px;
}
/* End of Matrimonial Page */

/* Partner Page CSS  */
.chkbox-dsntMatter{margin-top: 8px;}
.smallcol{
    padding-left: 0 !important;
    padding-right: 0px !important;
    width: inherit !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height:34px !important;
}
.chosen-container-multi .chosen-choices li.search-choice{
    margin: 8px 0 3px 5px !important;
}

.chosen-container .chosen-results li.highlighted{
    background-color: #00c0ff !important;
    background-image: none !important;
    border: 1px solid #e5e5e5 !important;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}

.chosen-container-multi .chosen-choices{
    border: 1px solid #e5e5e5 !important;
}
.chosen-container-multi .chosen-choices{
    background-image: none !important;
}
chosen-container chosen-container-multi{
    width:100% !important;
}
/* End of Partner Page CSS  */


/*Profile Master CSS  */
.propic-small{
    height:40px;
    width:40px;
    background-image: url('img/propic.png');
    overflow:hidden;
    border: 2px solid #e5e5e5;
    margin-top: 6px;
    float: right;
    margin-right:5px;
}

.profileheaderText{
    font-family: 'Open Sans', sans-serif;
    font-size:12px !important;
    text-transform: uppercase;
    color: #000000 !important;

}
.free-btn{
    color:#00c0ff !important;
    margin-left:5px;
    margin-right:5px;
}
.profileheaderNameText{
    font-family: 'Open Sans', sans-serif;
    font-size:13px !important;
    color: #000000 !important;
    float: right;
}

#loginform{border-color: transparent !important;}

@media (min-width: 768px){
    .navbar-text {
        float: left;
        margin-right: 0 !important;
        margin-left: 0  !important;
    }
}
@media(max-width:768px){
    .photo-pending{
        float:left ;
    }
    .menu-bar{
        min-height: 78px;
    }}
@media(max-width:519px){
    .photo-pending{
        position: relative;
        bottom:20px;
    }
}

.menu-bar{
    background:#00c0ff;
    color:#FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size:17px;
    text-transform: uppercase;
    padding:11px;


    list-style-type: none;
}

.menu-bar ul li { display: inline; 
}
.menu-bar ul{
    margin-left: -55px;
    margin-bottom: 0px;
}

.menu-bar li{
    padding-right: 11px;
    padding-left: 10px;
    border-right: 1px solid #ffffff;
}
.menucontainer{
    max-width: 930px;
}
.menuBarContainer{
    max-width: 930px;
    padding:0px !important;
}
.menuBar{
    background:#00c0ff;
    border-radius: 0px !important;
    margin-left: 0px;
    margin-right:0px;
    min-height: 2px !important;

}
.menuBar-item{
    margin-left: -25px !important;

}
.menuBar-item>li>a{
    color:rgba(255, 255, 255, 0.7) !important;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    padding-top:0 !important; 
    padding-bottom:0 !important; 
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: 1px solid #fff;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}
.lang_sinhala >li>a{
    font-size:14px !important;
}
.lang_english >li>a{
    font-size:17px !important;
}
.menuBar-item>li>a:hover{
    background: transparent !important;
    color:#fff !important;
}
.menuBar-item>li>a:focus{
    background: transparent !important;
    color:#fff !important;
}
.menuBar-item>li>a.active{
    color:#fff !important;
}
.menuBar-right>li>a{
    -webkit-transition: color 600ms ease;
    -moz-transition: color 800ms ease;
    -ms-transition: color 800ms ease;
    -o-transition: color 800ms ease;
    transition: color 800ms ease;
    padding-top: 15px  !important;
}
.menuBar-right>li>a:hover{

    background: transparent !important;
}
.menuBar-right>li>a>span:hover{

    border-bottom: 1px solid #fff;
    background: transparent !important;
}
.menu-icon>li>a{
    color:rgba(255, 255, 255, 0.33) !important;
    font-size:17px !important;
    text-transform: uppercase;
    padding-top:0 !important; 
    padding-bottom:0 !important; 
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}
.menu-icon>li>a:hover{
    background: transparent !important;
    color:#fff !important;
}
.menu-icon>li>a:focus{
    background: transparent !important;
    color:#fff !important;
}
.menu-icon-active{color:#fff !important;}
.question-mark{
    background-image: url('img/question-mark.png');   
    width:20px;
    height:20px;
    float: left;
    margin-right: 10px;
}

.photo-pending{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: none;
    float: right;
    color:#fff;
}

@media (min-width: 768px){
    .menu-bar{
        min-height: 45px;
    }


}
@media (max-width:768px){
    .menuBar-item>li>a{

        font-size: 20px !important;
        margin-top:15px;
        margin-left: 20px;
        border: 1px solid transparent;
    }
}
.badge-icon{
    font-family: 'Open Sans', sans-serif;
    color: #9f9f9f;
    font-weight: 300 !important;
    display: inline-block;
    min-width: 26px;
    min-height: 28px;
    background-image: url('../img/badge.png');
    background-color: transparent;
    padding: 11px 5px;
    font-size: 12px !important;
    bottom: 2px;
    position: relative;
    line-height: 1;
    margin-left: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-repeat: no-repeat;
    text-shadow: 3px 1px 2px #ffffff;
}
/* Profile Master CSS  */
.propic-large{
    background-color:#FFFFFF;
    overflow:hidden;
}

.propic-thumbnail{
    background:#f1f1f1;
    padding:8px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
}
.view-propic{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color:#a4a4a4;
    padding-top:10px;
}

.profile-main-out{
    background:#ffffff;


    padding-left:10px;
    padding-right:10px;


}


.profile-main-Name{
    font-family: 'Oswald', sans-serif;
    color:#707070 !important;
    padding-top:10px;
    font-size:24px;
}

.profile-main-shadow{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}
.profilemain-id{
    color:#a4a4a4;
    font-family: 'open sans', sans-serif;
    font-size:12px;
    line-height: 17.5px;
}
.profile-status{
    color:#a4a4a4;
    font-family: 'open sans', sans-serif;
    padding-bottom: 10px;
    line-height: 17.5px;

}
.profile-status-bottom{
    color:#a4a4a4;
    font-family: 'open sans', sans-serif;
    padding-top:10px;
    padding-bottom: 10px;
}

.main-border{
    border:1px solid #eaeaea;
}
.border-left{
    border-left:1px solid #eaeaea;
}
.border-right{
    border-right:1px solid #eaeaea;
}
.border-top{
    border-top:1px solid #eaeaea;
}
.border-bottom{
    border-bottom:1px solid #eaeaea;
}
.border{
    border:1px solid #eaeaea;
}

.profile-reminder{
    color:#00c0ff;
    font-family: 'Oswald', sans-serif;
}


.btn-reminder{
    font-size: 24px;
    height: 50px;
}
.btn-cancel{
    font-size: 24px;
    height: 50px;
    background:#e4e4e4;
    border:1px solid #d2d2d2 ;
    color:#828282;
}

.btn-block{
    border-radius: 0px;
    color: #959595;
    font-size: 15px;
    background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    height: 80px;
    font-weight: 400 !important;

    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    background-image: none;
    border: 1px solid #e5e5e5;
    font-family: 'Open Sans', sans-serif   
}

.btn-block:hover{
    background: #f3f3f3;
}
.btn-block-login{
    display: block;
    width: 100%;
    background-color: #00c0ff !important;
    color: white !important;
}
.btn-block-login:hover{
    color: white !important;
}
.backend-logo{
    max-height: 40px !important;
    margin-top: -12px !important;
}

.btn-report{
    border-radius: 0px;
    color: #959595;
    font-size: 15px;
    background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    height: 80px;
    font-weight: 400 !important;

    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    background-image: none;
    border-top: 1px solid transparent ;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Open Sans', sans-serif   
}

.btn-report:hover{
    background: #f3f3f3;
}
.block-icon{
    margin-right: 30px;
    margin-left: -100px;
}
.report-icon{
    margin-right: 30px;
    margin-left: -65px;
}
.container-fluid-no-padding{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
}

.profile-info-heading{
    background: #f2f2f2;
    color:#cacaca;
    padding: 5px 50px;
}
.btn-privacy{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background:#e3e3e3;
    border: 1px solid #dfdfdf; 
    color:#646464;
    border-radius: 2px;
    padding: 5px 5px;
    margin: -2px;
    min-width: 141px;
}

.profile-edit-btn{
    display: block;
    background-color: #00AFE8;
    border: none;
    padding: 1px 10px;
    color: #FFF !important;
    transition: background-color 0.5s ease;
    margin-top: 22px;
    font-size: 11px;
}
.profile-edit-btn:hover{
    background-color: #00c0ff;
    color: #F4FBFF !important;
}
#profile-partner-edit-btn{
    display: block;
    background-color: #d40091;
    border: none;
    padding: 1px 10px;
    color: #FFF !important;
    transition: background-color 0.5s ease;
    margin-top: 22px;
    font-size: 11px;
}
#profile-partner-edit-btn:hover{
    background-color: #f900aa;
}

.profile-info-body{
    background: #ffffff;
    color:#636363;
    font-weight: 400;
    font-size:13px;
    padding:19px 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
}

.profile-info-heading-lg-12{
    background: #00c0ff;
    color:#fff;
    padding: 5px 10px;
    font-family: 'Oswald', sans-serif;
    font-size:25px;

}

.profile-heading-text{
    margin:3px;
}
.infoMain{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    margin-bottom: 10px;
    border-top:6px solid #00c0ff;
    padding: 34px 0px;

}
.infoMain>h3{color:#000000; margin-bottom: 15px; font-family: 'Oswald', sans-serif;}


.infoBox{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
    margin-bottom: 25px;
    border-top:6px solid #00c0ff;
    overflow: hidden;
}

.infoBox.partner{border-top:6px solid #d40091;}
.infoBox #infoBox-Title{color:#000000; margin-bottom: 25px; font-family: 'Oswald', sans-serif;}
.infoBox>p{padding:2px 25px;}
.infoBox .row{margin-bottom: 10px; margin-left: 10px;}

.contactbuttonsContainer{margin-bottom: 20px;}
#contactButton{background:#72a200; width:100%; color:#ffffff; border:1px solid transparent; border-radius: 2px; padding: 5px 10px; }
#contactButton>span{}

.myLabel{font-weight: 600; }
#infosummery2{
    display:none; 
}
@media(max-width:990px){
    #infosummery1{
        display:none; 
    }
    #infosummery2{
        display:block; 
    }
    .btn_pkg {
        margin-bottom: 5px;
    }
}
@media(max-width:622px){
    #contactButton{
        border-radius: 0px;
        text-align: center;
        margin-bottom: 5px;
        min-height: 60px;
    }
    #contactbtnText {
        display: none;
    }
    #glyphicon{
        font-size: 25px;
    }

}
#contactbtnText {
    margin-left: 3px;
}


#contactButtoncol{
    padding-right: 0px;

}


#block-report-button{
    border:1px solid #ccc;
    background:#eee;
    color:#777 ;
    width:100%;
    font-weight: 700;
    padding:10px 5px;
    margin:0px;
    float:left;
}
.block-report-button{
    margin-top:20px;
    background:#f0ad4e;

}
.btn-blckreport{
    padding:0px !important;
    margin-bottom: 25px;
}

/* End of Profile Page CSS */

/* Upload Page CSS*/
.profileUpload{
    background:#fff;
    border:1px solid #ccc;
}
.profileBox{
    background:#fff;
    border: 3px solid#ade1ff;
    box-shadow: 0px 0px 3px #888888;
    margin:25px 0px;
    padding:10px;
}

.profilePhotoThumbnail{
    border: 1px solid #ccc;
    background-image:url('../img/profilephotoupload-default.png');
    margin:10px;
    text-align: center;
    min-height: 318px;
    /*    min-width: 280px;*/
    background-color:#f5f5f5;
    background-repeat: no-repeat;
}
.profilePhotoThumbainText{
    font-size:11px;
    color:#6e6e6e;
    font-family: 'Open Sans', sans-serif;
}

.lockIcon{
    border:1px solid #ccc;
    background:#f7f7f7;
    color:#cb0000;
    font-size: 25px;
    padding:10px;
    max-width:60px;
    min-height:60px;
    margin:auto;
}
.lockIcon .glyphicon{
    margin-top: 7px;
}

#thumbnailitemBottom{
    margin-top:160px;

}

.btn-photoupload{
    color: #fff;
    border: 1px solid transparent;
    width: 100%;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    min-height: 60px;
    padding: 0px;
}
.mobileUpload.btn-upload{
    max-height: 60px;
    background:#81a100;
    padding:0px 0px;
    padding-top:18px;
    padding-bottom: 18px;

}
.btn-photoupload.btn-importFB{

    background:#3b5997;

}
.btn-photoupload.btn-upload .glyphicon-arrow-up{

}

.photoUploadBtnIcon{
    margin-left: -8px;
    float: left;
    max-height: 60px;
    padding-right: 5px;
    min-width: 59px;
    padding: 16px 0px;
    font-size: 24px;
    color:#fff;
    border:1px transparent;
}
.photoUploadBtnIcon.pc{
    background: #5e7500;
    padding-left: 15px;
    cursor: pointer;
}
.photoUploadBtnIcon.fb{
    background: #2D4A84;
}

.theLine{
    background: #777;
    z-index: 0;
    width:90%;
    border-top:2px  solid #777;
    position: absolute;
    bottom: 10px;
}

.orText{
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    text-align: center;
    margin:0 auto;
    padding:10px;
    color:#636363;
    z-index: 999;
}

.uploadRow{
    margin-bottom: 25px;

}
#ShowinXs{display: none;}
@media(max-width:767px){
    .profileBox{
        padding:20px 50px;
    }
    .profilePhotoThumbnail{
        max-height: 318px;
        max-width: 280px;
        background-position-x: auto;
    }
    #hiddeninXs{
        display: none;
    }
    #ShowinXs{
        display: block;
    }
}
.profilePhotoThumbnail-xs{
    margin-bottom: 20px;
}
.profilePhotoThumbnail-xs-img{
    border:1px solid #ccc;
    margin:0px auto;
}

.mobileUpload{
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    text-align: center;
    padding:25px 10px; 
    display: inline-block;
    width:100%;
    background: #fafafa;
    color:#fff;
    font-size: 18px;
    cursor: pointer !important;

}
.mobileUpload.mobile{
    background:#5e7500;
    cursor: pointer;
}
.mobileUpload.fb{
    background:#3b5997;
}

.mobileUpload .glyphicon{
    margin-right: 5px;
}
.btn-upload-xs{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99999;
    height: 76px;
}
.btn-upload-lg{
    position: absolute;
    top: 0;
    right: -15px;
    margin: 0;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99999;
    height: 60px;
    width: 56px;
}

.btnText-xs{
    font-family: 'Open Sans', sans-serif;
}



.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ProfilePhotoText-xs{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
}
.device-sm{
    display: none;
}

@media(max-width:992px){
    .device-lgmd{
        display: none;
    }
    .device-sm{
        display: inline;
    }
}

#photoGuildLines{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;

}

.liText{
    font-family: 'Open Sans',sans-serif;
    color: #626262;
}
.glyphicon.Yes{
    color:#00db4d;
}
.glyphicon.No{
    color:#cb0000;
}
#photoGuildLines .glyphicon{
    line-height: 25px;
    margin-right: 10px;

}
#photoGuildLines ul{
    list-style-type: none;
}
.navbar {margin-bottom: 0px !important;}
/*End of Upload page CSS*/

/* Search Results page CSS*/
.searchResultBar{
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding:12px 10px;
}

#SearchHead{
    font-size: 16px;
    font-family: 'Oswald',sans-serif;
    color: #00c0ff;
    float: left;
}
#SearchCriteria{
    display: inline;
    color:#9f9f9f;
    font-size: 12px;
    float:right;
}

#modifySearch{
    color:#00c0ff !important;
    margin-left: 10px;
}
#modifySearch:hover{
    border-bottom: 1px SOLID #00c0ff;
}

.SearchResult-btn{
    border:1px solid transparent;
    background: #ddd;
    color: #000;
    padding: 10px;
}


.SearchResult-btn.text i{
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
}
.SearchResult-btn.text span{
    color:#555;
    font-family: 'Open Sans', sans-serif; 
}
.SearchResult-btn.icon{
    padding-bottom: 15;
}
.SearchResult-btn i{
    font-size: 18px;
    color: #fff;
}
.spotlight{
    background: #fff;
    padding:0px 15px;
    margin-top:25px;
    min-height: 40px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
    margin-bottom: 5px;
}

.spotlight h4{
    float:left;

}
.spotlight span{

    float: left;
    margin-left: 15px;
    margin-top: 10px;

}

#searchResultName{
    padding:0px 15px;
    background: #f0f0f0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
    min-height: 40px;
}
#searchResultName h4{
    float:left;
}
#searchResultName span{
    float:left;
    font-size:12px;
    margin-left: 15px;
    margin-top: 12px;
}

#searchResultBody{
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
    margin-bottom: 20px;
}
#searchResultBody .right-icon{
    float: right;
}
#searchResultBody .btn-settings{
    margin: 6px -15px;
    background: transparent;
    border: none;
    color: #aaa;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    transition: color 100ms linear;
}
#searchResultBody .btn-settings:hover{
    color: #666;
}
#searchResultBody .dropdown-menu{
    margin: 0 -147px;
}
#searchResultBody .btn-transparent{
    background: transparent;
    border:none;
    text-align: left;
    width:100%;
}
#searchResultBody .btn-transparent:hover{
    outline:none !important;
}
#searchResultBody .dropdown-menu .upTriangle{
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent #767676 transparent;
    right: 5px;
}
#searchResultBody .dropdown-menu .upTriangle.inner{
    top: initial;
    right: -9px;
    border-color: transparent transparent #FFFFFF transparent;
    border-width: 0px 9px 10px 9px;
}
.searchResultBody{
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
    margin-bottom: 20px;
}

#searchResultThumbnail{
    margin:15px;
}

#leftSpace{
    margin-left: -15px;
    padding-left: 0px;
}
#rightSpace{
    margin-right: -15px;
    padding-right: 0px;
}
#viewAlbum{
    font-size: 12px;
    text-align: center;
    color:#333;
    margin-top:5px;
}

#searchResultContent{
    margin:15px;
    font-size: 13px;
    color:#888888;
    font-family: 'Open Sans', sans-serif;
}
.searchcontentRow{
    line-height: 25px
}

.online-icon{
    background-color: #00bb4d;
    border-radius: 50%;
    height: 10px;
    width: 10px; 
    display: inline-block;
}
.online-icon-sty{
    margin-left: 6px;
    margin-top: 5px;
    float: right;
}
.offline-icon{
    background-color: #ddd;
    border-radius: 50%;
    height: 10px;
    width: 10px; 
    display: inline-block;
}
.online-text{
    color: #00db4d; 
    display: inline;
}

#buttonArea{
    margin-bottom: 10px;
}
@media(max-width:495px){
    .SearchResult-btn span{
        display: none;
    }
    .SearchResult-btn.text i{
        margin: 0px;
    }
    .SearchResult-btn.icon{
        padding-bottom: 10px;
    }
}
@media(max-width:427px){
    #searchResultName span{
        display: none;
    }
}
.searchResult-btn{
    border:1px solid transparent;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    background: #ddd;
    color:#fff;
    width: 100px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 250ms ease-in;
}
.searchResult-btn.yes{
    background: #B6B6B6;
    color:#fff;
    margin-bottom: 5px;
}
/*.unfriend-btn{
    margin-top: 10px;
    border:1px solid transparent;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    background: #BBB;
    color:#fff;
    width: 100px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 250ms ease-in;
}*/

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #00C0FF !important;
    border-color: #00C0FF !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 0px !important;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0px !important;
}

.max-width-friends{
    min-height: 250px;
}

#searchRefine{
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 25px;
}
#refineSearchHeading{
    background:#eee;
    padding: 4px;
    border:1px solid #ccc;
}

#refineSearchSubHeading{
    background:#F6F6F6;
    padding: 10px 15px;
    color:#555;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
#refineSearchContent{
    background:#fff;
    padding: 10px 15px;
    color:#555;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.btn-fav{
    background: #B6B6B6;
    color: #fff;
    border: none;
    font-size: 13px;
    padding: 6px 13px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    width: 110px;
}
.liked{
    background: #FF99CC !important;   
    width: 120px;
}
.liked:after{
    content: ' Favourited';
}
.like:after{
    content: " Favourite";
}

/*
.p-liked{
    background: green !important;
    height: 50px;
}
.p-liked:after{
    content: ' Favourited';
    font-size: 24px;
    height: 50px;
}
.p-like:after{
    content: " Favourite";
    font-size: 24px;
    height: 50px;
    border-radius: 0px;
    color: #ffffff;
    font-size: 17px;
    background: #00c0ff;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
    height:40px;
    font-weight:400;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    font-family: 'Oswald', sans-serif;
    margin-right: 6px;
}*/

#refineSearchContent label{
    font-size: 12px;
    font-weight: 400;
}
#refineSearchContent .col-lg-12{
    padding-left:0px;
    padding-right: 0px ;
}
/* End of Search Results page CSS*/

/* Registration page CSS */

.titleBar{
    background:#00c0ff;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size:17px;
    font-weight: 300;
    padding-top:8px;
    min-height: 40px;
}
.titleBarText{
    font-weight: 400;
}
#more-step-play-icon{
    font-size: 10px;
    top:-2px !important;
}
#reg-form-container{
    background-color: #FFF;
    margin: 10px 0px;
}
.secondHeadings{
    background:#f7f7f7;
    color:#00c0ff;
    font-family: 'Oswald', sans-serif;
    font-size:15px;
    font-weight: 400;
    padding:9px;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    /*margin-top:10px;*/
}

#mandatory-text{

}
#mandatory-sign{
    color:red;
}

.formRow{
    padding: 10px;
}

.radio-form{
    margin-right: 34px;
}

#character-counter{
    padding: 7px;
}
#character-counter .count{
    color: #C0C0C0;
}
#spell-check{
    background-color: #CCC;
    border: none;
    color: #666;
    height: 34px;
    font-weight: 700;
}

#create-profile-container{
    margin-bottom: -30px;
}

#button-createprofile{
    margin-top:10px;
}
#registration_last-step{
    overflow: hidden;
}
#lil-abt-bck-desc{
    padding: 20px; font-weight: 700;
}
/* End of Registration page CSS */


/* Login xs view */
.login-incentive{
    font-family: 'Open sans',sans-serif;
    padding: 10px 2px;
    background: #00c0ff;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.btnLogin-xs{
    padding: 5px 20px;
    margin-left: 15px;
    background: #fff;
    border: 1px solid transparent;
    color: #00c0ff;
}


/*End of Login xs view */


/* Search page css */
#searchesHead{
    background:#F6F6F6;
    padding: 13px 15px;
    color:#888;
    border:#ccc;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); 
    font-family: 'Oswald',sans-serif;
    text-align: center;
    text-transform: capitalize;

}
#searchesContent{
    background:#fff;
    padding: 15px 25px;
    color:#888;
    text-align: justify;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
}
#searchesContent .glyphicon{
    margin-right: 10px;
    color:#00c0ff;
}
#searchesContent.text-center{
    text-align: center !important;
}
.sideWidget{
    margin-bottom: 35px;
}
.btn-go{
    background: #00c0ff;
    border:1px solid transparent;
    font-family: 'Oswald', sans-serif;
    color:#fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 0px !important;
}

.searchProfileID{
    /* border:#ccc; */
    border-radius: 0px !important;
    box-shadow: none !important;
    height: 33px;
    width: 80% !important;
    margin-right: 5px;
}
#searchTab{

}
.searchTab-head{
    background: #eee;
    padding:15px 20px;
    border:1px solid transparent;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
    color:#888;
    font-weight: 700;
}
.searchTab-head.active{
    background: #ccc;
}
.searchContent{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
    background: #fff;
    color:#626262;
    font-size: 13px;
    padding:25px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
}

.disable_tab{
    background-color: red !important; 
    border: none !important;
}
.disable_tab:focus, .disable_tab:hover{
    background-color: transparent !important; 
    border: none !important;
}

.disable_tab:not(:focus){
    background-color: transparent !important; 
}
.disable_tab:default{
    background-color: greenyellow !important; 
}

@media (max-width:478px){
    .searchTab-head{
        height: 72px;
    }
}
.text-label{
    font-weight: 700;
}
#emailResults{

    margin-top: 10px;
}
.btn-SaveSearch{
    background:#00c0ff;
    color:#fff;
    text-align: center;
    font-size: 23px;
    font-family: 'Oswald',sans-serif;
    border:1px solid transparent;
    margin-top:15px;
    padding:5px 15px;

}
/* End of Search page css */

/* Horescope Page */
.heading5{
    color:#333 !important;

    margin-bottom: 20px;
}
.small.upload{
    color:#00c0ff;
}
.glyphicon.Heart{
    color:#00c0ff;
}

#uploadHorescope .glyphicon{
    line-height: 25px;
    margin-right: 10px;

}
#uploadHorescope ul{
    list-style-type: none;
}

#horescope{
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
}
#horescope.top{
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
}
.offered_in_text{
    font-size: 12px;
    color: #898787;
}
.lang_div{
    list-style-type: none;
    margin-left: -37px;
}

#horescope a{
    color:#00c0ff !important;
}
.contactIcon{
    color:#00c0ff;
    float: left;
    margin-right: 15px;
    font-size: 30px;
    margin-top: 4px;
}
/*End of Horescope Page */


#profilePicUploadModal .cropit-image-preview-container{display: inline-block;}

/*Inbox Page */
.btnInbox{
    background: #f1f1f1;
    border:1px solid #ccc;
    padding: 6px 25px;
    border-radius: 0px; 
    color: #666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

.noLabel{
    padding-left: 13px !important;
    background-image: url('../img/checkbox-2.png') !important;
}
#inbox{
    margin-top: 10px;
    background: #fcfcfc;
    border:1px solid #eee;
}
.theMsg{
    border-bottom: 1px solid #eee;
    padding:20px;
}
.theMsg.active{
    background: rgba(231, 247, 255, 0.46) !important;
    border-left: 3px solid #25A4FF;
}
.theMsg:nth-child(odd){
    background-color: #fff;
}
.theMsg:nth-child(even){
    background-color: #fafafa;
}

#msngrName{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 600;
}
#msgText{
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    color:#858585;
}
.inboxThumbnail{
    min-width:50px;
}
@media(max-width:500px){
    #msngrName{
        font-size: 12px;
    }
    .theMsg{
        padding:10px;
    }
}

#moreActions{
    top:31px !important;
    left:14px !important;
    background:rgba(255, 255, 255, 0.97) !important;
    border-radius: 0px !important;
    webkit-box-shadow: none !important;
    box-shadow: none !important;
}
input[type=checkbox]#inbox-chkbox {position: absolute;     overflow: hidden;     clip: rect(0 0 0 0);     height:1px;     width:1px;     margin:0px;     padding:0;    border:0;}

input[type=checkbox]#inbox-chkbox + label#inbox-chkbox-label {padding-left:20px;    height:13px;     display:inline-block;    line-height:14px;    background-repeat:no-repeat;    background-position: 0 0;    font-size:12px;    font-weight: 400;    vertical-align:middle;    cursor:pointer;   }

input[type=checkbox]#inbox-chkbox:checked + #inbox-chkbox-label {background-position: 0 -13px;}

#inbox-chkbox-label{ background-image:url('../img/checkbox.png'); background-repeat: no-repeat;}
#inbox-chkbox-label-xs{font-size: 12px;}
#inbox-chkbox-label{
    font-family: 'Open sans',sans-serif;
}
#inbox-chkbox{
    margin-left: -4px;
}
input[type=checkbox].msg-chkbox {position: absolute;     overflow: hidden;     clip: rect(0 0 0 0);     height:1px;     width:1px;     margin:0px;     padding:0;    border:0;}

input[type=checkbox].msg-chkbox + label.msg-chkbox-label {padding-left:20px;    height:13px;     display:inline-block;    line-height:14px;    background-repeat:no-repeat;    background-position: 0 0;    font-size:12px;    font-weight: 400;    vertical-align:middle;    cursor:pointer;   }

input[type=checkbox].msg-chkbox:checked + .msg-chkbox-label {background-position: 0 -13px;}

.msg-chkbox-label{ background-image:url('../img/checkbox.png'); background-repeat: no-repeat;}
.msg-chkbox-label-xs{font-size: 12px;}
.msg-chkbox-label{
    font-family: 'Open sans',sans-serif;
}
.msg-chkbox{
    margin-left: -4px;
}
#alignChkBox{
    margin-left: -10px;
}
#noMsgs{
    padding: 55px;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    font-weight: 600;
}
/*End of Inbox Page */


/*Inbox inside Page */
#Message{
    margin-top:15px;
    background: #fff;
}
#msgWith{

    background: #f2f2f2;
    padding: 6px 20px;
    border:1px solid #ccc;
}
#msgBody{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    padding:12px;
}
#msgWrite{
    background: #efefef;
    padding: 20px;
}

#btnSendmsg{
    background: #00c0ff;
    color:#fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: transparent;
    padding:10px 20px;
    margin-top:15px;
}
#msgBody .chatThumb{
    max-width: 80px;
    height: 60px;
}
#msgBody .chatText{
    background: #00c0ff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 20px;
    margin-bottom: 15px;
}
#msgBody .chatText .leftTriangle{
    position: absolute;
    left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #00bffe transparent transparent;
    line-height: 0px;
    _border-color: #000000 #00bffe #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
#msgBody .chatText .rightTriangle{
    position: absolute;
    width: 0;
    height: 0;
    right:3px;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #eee;

}
#msgBody .chatText.send{
    background: #eee;
    color:#000;
}
#msgBody .chatText.recive{
    background: #00bffe;
    color:#fff;
}
#msgBody .chatText.recive .sentTime{
    color:#eee;
    font-size: 12px;
}
#msgBody .chatText.send .sentTime{
    color:#555;
    font-size: 12px;
}
#TypeText{
    max-width: 100%;
}
/*End of Inbox inside Page */


.validateError{
    border: 1px solid #E71414 !important;
}
.errorIcon{
    color:#E71414;
}
.errorMessage{
    margin-top: 5px;
    color: red;
    font-size: 16px;
    font-family: 'Oswald',sans-serif;
}
.errorIcon.reg{
    margin-right: 150px;
    margin-top: 1px;

}
.cursor-pointer{
    cursor: pointer;
}
.cursor-not-allow{
    cursor: not-allowed;
}

.top_menu_notice_panel{
    width: 340px;
    background: #fefefe;
    box-shadow: 0 5px 14px rgba(0,0,0,.075);
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    margin-right: 12px;


}
.msg-list-dropdown{
    list-style-type: none;
    max-height: 400px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;   
}
.msg-list-dropdown li{
    margin-bottom: 5px;
    padding: 5px 10px;
}
.msg-list-dropdown li a:hover {

}
#topmenu_notification_menu .notification_li{position: relative;margin-bottom: 5px; padding-bottom: 5px; border-bottom: #eee 1px solid;}
#topmenu_notification_menu .notification_li img{max-width: 50px; float:left; margin-right: 5px;}
#topmenu_notification_menu .notification_li .notification_time{float:left; color: #A0AAAE; font-size: 10px;}
#topmenu_notification_menu .notification_li .notification-close-btn{position: absolute;top: 5px;right: 7px;padding: 0;background: #fff;border: 0;color: #E4CACA; z-index: 9999;}
#topmenu_notification_menu .notification_li .notification-close-btn:hover{color: #00ccff;}
#topmenu_notification_menu .notification_li .notiText{margin-left: 10px;margin-top: 5px;}

.upTriangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fefefe transparent;
    position: absolute;
    right: 0;
    top: -10px;
}
.req{
    margin-top: 7px;
    float: left;
}
.form-top{
    margin-top: 5px !important;
}
.contentbox{
    min-height: 250px;
    padding: 8px 5px 0px 3px;
    /*border: 2px solid rgba(0, 192, 255, 1);*/
    border-radius: 8px;
    margin-top: 11px;
    padding: 11px;
}
.content-input{
    padding: 0px;
    padding: 0px 30px 0px 30px !important;
}
.padding-none{
    padding: 0px !important;
}
.flag-icons{
    max-height: 20px;
}
.panel-top{
    margin-top: 30px;
}
.header{
    margin-top: 70px !important;
}
.float-right{
    float: right;
}.margin-btm-5{
    margin-bottom: 5px !important;
}

.top-margin-3h{
    margin-top: 5%;
}
.img-user-be{
    max-height: 280px;
}

.upg-content{
    margin-left: 16px;

}
.upg-title{
    font-size: 25px;
}
.upg-logo{
    display: block;
}
.mcash{
    margin-right: 12px;
}
@media(max-width: 767px){
    .upg-logo{ display: none; }
    .float-right{
        float: none;
        margin: 0 auto;
        display: table;
    }
    .upg-content{
        float: none;
        margin: 0 auto;
        display: table;
    }
    .upg-tagline{
        margin-top: -25px !important;
    }
}

.upg-tagline{
    margin-top: -6px;
}
.reqPic{
    height:45px;
    width:45px;
    background-image: url('img/propic.png');
    overflow:hidden;
    margin-top: 6px;
    margin-left: 10px;
}
.reqName{
    font-weight: 600;
    margin-left: 5px;
}
.reqTown{
    font-size: 12px;
    color:#888;
    margin-left: 5px;
}
.reqButton{
    margin-top:4px;
    border: none;
    padding: 5px 10px;
    color: #fff !important;
}
.reqButton:hover{
    color: #fff !important;
}
.reqButton.accept{
    background: #00c0ff;
}
.reqButton.cancel{
    background: #888;
}
.msgName{
    font-weight: 600;
}
.msgTime{
    font-size: 10px;
    color:#888;
    float: right;
}
.msgMsg{
    white-space: normal;
}
.notiTime{
    font-size: 12px;
    color:#888;
    margin-right: 10px;
    float: right;
}


#settings{
    background: #fff;
}
.tabPane{
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding:15px;

}
#accountInfo{
    min-width: 465px; text-align: right;
}
#headerProfileInfo{
    float: right; padding-right: 0px;
}
#accountInfo #headerProfileInfo #account-details{
    display: inline-block;
    border-radius: 3px;
    padding: 5px 12px;
    margin-top: 4px;
    border: 1px solid transparent;
    transition: all 400ms ease;
}
#accountInfo #headerProfileInfo #account-details:hover{
    background: rgba(199, 199, 199, 0.04);
    border: 1px solid rgba(138, 138, 138, 0.08);
}
#headerProfileInfo .btn-upgrade{
    border: 1px solid #00bb4d;
    color: #00bb4d !important;
    transition: all 400ms ease-in;
}
#headerProfileInfo .btn-upgrade:hover{
    background: #00B14D;
    color:#fff !important;
}
.masterTriangle{
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    top: -17px;
    right: 1px;

}
.masterTriangle-border{
    border-color: transparent transparent #bdc4c9 transparent;
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    top: -18px;
    right: 1px;

}
.masterDropdown{
    background: #fff ;
    margin-top: 15px;
    border-radius: 0;


}

.masterDropdown li{
    padding: 2px 10px;
}
.masterDropdown li:hover{
    background: #eee;

}
.masterDropdown li a{
    padding-left: 15px;
    color:#666 !important;
    font-family: 'Open Sans', sans-serif;
}
.masterDropdown li a:hover{
    background: transparent;
}

.masterDropdown li a .glyphicon{
    margin-right: 10px;
}

.btn-toggle{
    background: #eee;
    border: 1px solid #ddd;
    padding: 4px 10px;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
#daily10Name{
    margin-left:15px; float: left;
}
.btn-saveChanges{
    font-size: 14px !important;
    font-family: 'Open Sans',sans-serif !important;
    border-radius: 0px !important;
    background: #00acee !important;
    border:1px solid #00AFE8;
}
.btn-saveChanges:hover{
    background: #0989BA !important;
    color:#fff !important;
}
.btn-close{
    margin-top: -2px;
    font-size: 14px !important;
    font-family: 'Open Sans',sans-serif !important;
    border-radius: 0px !important;
    padding: 14px 29px;
}
.btn-group-unfriend{
    border: 1px solid #ccc;
    background: #eee;
    color: #777;
    width: 100%;
}
.btn-unfriend{
    border-radius: 0;
    background: #EEEEEE;
    font-weight: 700;
    padding: 9px 13px;
}
.btn-group.open .dropdown-toggle{
    webkit-box-shadow: none !important; 
    box-shadow: none !important; 
}

.btn-blk{
    width: 100%;
    background: transparent;
    border: none;
}
.btn-blk:hover{
    background: #eee;
}


/*Upgrade Page*/
#upgrade #upgrade-heading{
    font-family: 'Oswald',sans-serif;
    font-size:34px;
    text-align: center;
}
#upgrade #upgrade-sub-heading{
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#upgrade .pkg {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
    overflow: hidden;
}
#upgrade .pkg-head{
    width: 100%;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color:#fff;

}
#upgrade .pkg-name{
    font-size:25px;
    padding:28px 0;
    width: 45%;
    float:left;
    height: 90px;
    text-align: center;
    background: #000;
}
#upgrade .pkg-price{
    float:right;
    width: 55%;
    height: 90px;
    text-align: center;
    padding: 8px 20px;
    background: #00C0FE;
}
#upgrade .pkg-price .pkg-currency{
    float:right;
    font-size:18px;
    font-weight: 500;
    position: absolute;
    right: 23px;
}
#upgrade .pkg-price .pkg-amount{
    font-size:50px;
    float:left;
}
#upgrade #free-package .pkg-name{
    background:#3e3e3e;
}
#upgrade #free-package .pkg-price{
    background: #bbb;
}
#upgrade .pkg-body{
    background: #fff;
    padding: 15px 20px;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
}
#upgrade .pkg-body>ul{
    list-style-type: none;
}
#upgrade .pkg-body>ul>li{
    margin: 10px 0px;
}
#upgrade #free-package .pkg-body>ul>li,#upgrade #free-package .pkg-body>ul>li>.liText{
    color:#bbb;
}
#upgrade .pkg-body>ul>li .glyphicon.bullets{
    color:#00C0FF;
    margin-right: 10px;
} 
#upgrade #free-package .pkg-body>ul>li .glyphicon.bullets{
    color:#bbb;
} 

#upgrade .pkg-body .btn-upgrade{
    border:none;
    color:#fff;
    font-size: 18px;
    padding:10px 25px;
    background: #00C0FE;
    border-bottom: 4px solid #02a6dc;
    margin: 0 auto;
    display: table;
}
#upgrade .pkg-body .btn-upgrade#sign-up{
    background: #bbb;
    border-bottom: 4px solid #a4a4a4;
    color:#FFF !important;
}
@media(max-width:385px){
    #upgrade .pkg-price{
        padding: 18px 20px;
    }
    #upgrade .pkg-price .pkg-amount {
        font-size: 42px;
    }
    #upgrade .pkg-price .pkg-currency{
        font-size: 14px;
    }
}
#paymentmethods{
    background: #fff;
    padding:20px 0 ;
    margin:45px 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); 
}
#paymentmethods #paymentmethod-container{
    max-width: 960px;
}
#upload-profile-icon{
    transition: all 0.5s ease;
    color:#000;
}
/*Up to highest from xs*/
@media(min-width : 768px) {
    #upload-profile-icon{
	position: absolute;
	top: 9px;
	right: 24px;
    }
}

#upload-profile-icon span{
    color: #000;
    transition: all 0.5s ease;
}

#upload-profile-icon:hover{
    background: rgba(0,0,0,0.2);
    color:#fff;
}

.upload-profile-icon-lg{
    padding: 13px 15px;
}
.upload-profile-icon-xs{
    text-align: center;
    padding: 13px 15px;
    background-color: #f1f1f1;
}

.scroller::-webkit-scrollbar {
    width: 8px;
}

.scroller::-webkit-scrollbar-track {

}

.scroller::-webkit-scrollbar-thumb {
    background-color: #ccc;

}
.daily-ten-block{
    min-height: 235px;
}
#resend_conf_btn{
    border: none;
    background-color: #000000;
    color: white;
    font-weight: 200;
    border-radius: 2px;
    padding: 4px 13px;
    font-size: 13px;
}
.unclickable{
    pointer-events: none;
    cursor: wait;
}

.custom_header{
    background-color: #00ACEE !important;
}
.custom_header h4{
    color: #FFF !important;
    text-transform: uppercase;
}
#upgrade_pop_body ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;  
}

#upgrade_pop_body ul li {
    background-image: url('../img/heart-icon.png');
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight: 600;
    color:#5C5C5C;
    line-height: 25px;
}
.custom_model_body{
    background-image: url('../img/popup-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -8px;
    background-size: 542px;
    background-origin: border-box;
}
.custom_footer{
    border: none !important;
    margin: -15px -23px -23px 0px !important;
}
.custom_model_content{
    border-radius: 0px !important;
    width: 100% !important;
}
.upg-cust-btn{
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    background-color: #c6c6c6;
    border: none;
    color: #ffffff;
    padding: 5px 41px;
    font-size: 21px !important;
    letter-spacing: 1px;
    width: 170px;
    margin: 3px;
}
/* 404 Page styles */

#not_found_styles{
    font-family: 'Open Sans', sans-serif;
}

#not_found_styles h1{
    font-size: 83px;
    font-weight: 700;
    color: #CE6359;
    letter-spacing: -6.7px;
}

#not_found_styles h2{
    color: rgb(140, 140, 140);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: -7px 0px 0px 7px;
}

#not_found_styles h4{
    font-family: 'Open Sans', sans-serif !important;
    color: rgb(68, 64, 64) !important;
    margin: 29px 0px 0px 9px !important;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1.2px;
}
#not_found_styles a button{
    margin: 17px 0px 0px 10px;
    border: none;
    background-color: rgb(0, 162, 255);
    font-size: 24px;
    color: #FFF;
    padding: 3px 44px;
    letter-spacing: -1.9px;
    font-weight: 600;
}

/*
    FAQ Page
*/
.custom-panel-heading{
    background-color: #FFF;
    border: none !important;
    background: #FFF !important;
}

.custom-panel-body{
    color: #000;
    text-align: justify;
    font-family: 'Open Sans', sans-serif !important;
    border: none !important;
    font-size: 17px;
    margin-top: -14px;
    opacity: 0.9;
}
.custom-panel-title{
    text-align: left;
    margin: 0px !important;
}
.custom-panel{
    background-color: #FFF !important;
}
.custom-panel-anc{
    background: #fff !important;
    color: #000 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    font-size: 19px !important;
}
.custom-panel-anc:hover{
    color: #000 !important;
}
.custom-panel-anc:focus{
    text-decoration: none;
}
.custom-panel-anc:visited {
    color: #000 !important;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #000000 !important;
    width: 100%;
}
#faq-title{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 600;
    text-transform: uppercase;
}
.ui-widget {
    border: none !important;
}

.border-brown{
    border-left: 6px solid #666 !important;
}
.border-blue{
    border-left: 6px solid #00C0FF !important;
}
#about-us-cont{
    width: 100%;
    height: 100%;
    background-image: url('../img/aboutusbg.png');
}

#au-title{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 13px;
}

#about-us-cont p{
    font-family: 'Open Sans', sans-serif !important;
    color: #151414;
    /*    text-indent: 160px;*/
    text-align: justify;
    font-weight: 100;
    font-size: 17px;
    padding: 10px 15px;
}

.masterDropdown li form a{
    display: block;
}

.advert_body{
    min-height: 150px;
    margin-bottom: 0px;
    background: #F1F1F1;
    cursor: pointer;
    border: 1px solid #eaeaea;
    border-top: 5px solid #00C0FF;
}
.advert_img{
    margin: -26px 0px -45px 31px;
    display: block !important;
}
#mobile_ver_box h2{
    color: #00C0FF;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
}
#mobile_ver_box span{
    font-family: 'open sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-right: 15px;
}
#mobile_ver_box{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    background-color: #fff;
    padding: 20px;
}
#mobile_ver_box .mob_vb {
    width: 200px;
    font-size: 16px;
}
#mobile_ver_box button{
    font-size: 19px;
    font-family: 'open sans', sans-serif;
    letter-spacing: -1px;
}
#mobile_ver_box #note{
    color: rgb(145, 145, 145);
    font-weight: 100;
    font-size: 17px;
}
#mobile_ver_box div{
    margin-top: 25px;
}
#mobile_ver_box div span a{
    color: rgb(0, 192, 255) !important;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}
#already_have{
    font-size: 22px !important;
}
.mob_vb_conf{
    width: 140px;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.verf_btn{
    height: 64px;
    margin-top: 0px !important;
    padding: 21px 21px;
    margin-left: 5px;
    font-weight: 700;
}
.dropdown_button{
    width: 190px;
    display: table;
    margin-top: 8px;
}
.dropdown_button .glyphicon{
    float: left;
    margin-top: 2px;
}

.dropdown_button .privacy-name{
    float: left;
    margin-left: 5px;
    font-weight: 600;
}
.dropdown_button .caret{
    float: left;
    margin: 8px 0px 0px 9px;
}
.mangalayojana-help-block{
    font-family: 'Oswald', sans-serif !important;
    font-size: 12px;
    float: right;
    color: #707081;
}
.remove-bt-left-margin{
    margin-left: -15px;
}
.pic-upload-tip{
    margin: 0px 0px -15px 0px;
}
.btn-paynow{
    background: #00c0ff;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: 'Oswald',sans-serif;
    border: 1px solid transparent;
    padding: 1px 12px;
}

.filter-slice{
    padding: 0px;
    margin-bottom: 10px;
}
.mobilever-alert{
    margin: -20px;
    padding: 10px 0px 1px 10px;
    color: #FFF;
    margin-bottom: -10px;
    margin-top: -20px !important;
    display: none;
}
.mobilever-alert p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.mobilever-alert-error{
    background-color: rgb(234, 59, 59);
}
.mobilever-alert-success{
    background-color: rgb(66, 208, 71);
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #FFFFFF !important;
    background-color: #00c0ff;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000000 !important;
    background-color: #FFFFFF;
}
#searchPaginationLinks{
    margin: 0px auto;
    display: table;
    margin-bottom: -20px;
    margin-top: -10px;
}
#profileIdBox{
    width: 78% !important;
}
.user-status-label{
    border-radius: 2px;
    padding: 7px;
    border: 1px solid #555;
    text-align: center;
}
.user-status-confirmed{
    background-color: #00C0FF;
    color: #fff;
    border-color: #607D8B;
}
.user-status-notconf{
    opacity: 0.5;
}
.user-st-batch{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
